body {
    background-color: black;
    color: white;
    font: normal 20px Arial;
    margin-left: 40px;
}
div#cabeca {
    box-shadow: 3px 3px 5px red;
    background-color: white;
    color: black;
    height: 150px;
    line-height: 150px;
}
h1 {
    text-align: center;
    margin-left: 0px;
}
div#read {
    margin-top: 50px;
}
a {
    color: red;
}
div#python {
    margin-top: 50px;
}
img#readvid {
    width: 250px;
    margin-left: 450px;
    box-shadow: 3px 3px 5px red;
}
img#github {
    float: left;
    margin-left: 50px;
    margin-top: 55px;
    box-shadow: 3px 3px 5px red;
}